nav{
	display: flex;
    justify-content: space-between;
	align-items: center;
	position: relative;
	left: 0;
	top: 100;
	width:100%;
	z-index: 1;
    background-color: #0261AF;
    transition: 0.6s ease-in-out;
	border-radius: 10px;
}

nav.active{
	box-shadow: 5px 10px 30px rgba(0, 247, 255, 0.157);
	background-color: white;
}
nav dl{
	display: flex;
}
.active{
    background-color: #00b7ff;
    color:#ffffff;
	box-shadow: 5px 10px 30px rgba(189, 198, 64, 0.411);
	transition: all ease 0.2s;
}
nav dl dd a{
    font-family: calibri;

	height:40px;
	line-height: 43px;
	margin: 3px;
	padding: 0px 22px;
	display: flex;
	font-size: 0.9rem;
	text-transform: uppercase;
	font-weight: 500;
	color:white;
    letter-spacing: 1px;
    border-radius: 20px;
    transition: 0.2s ease-in-out;
	text-decoration: none;
}
nav dl dd a:hover{
	background-color: #00b7ff;
    color:#ffffff;
	box-shadow: 5px 10px 30px rgba(2, 238, 255, 0.336);
	transition: all ease 0.2s;
}
nav .menu-btn,
.menu-icon{
		display:none;
	}
.name{
	font-family: 'Montserrat';
	width: 500px;
	position: absolute;
    left: 22%;
	top: 50%;
	transform: translate(-22%,-50%);
}
.name span{
    color: #00b7ff;
}
.name .details{
    color: #969696;
}
.name h1{
	font-family:'Montserrat';
	font-size: 40px;
	margin:0px;
	letter-spacing: 2px;
	color:#000000;
}
